.tile {
    margin: 15px;
    height: 300px;
    max-width: 200px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.tileBackground {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url("/card.png"); */
    filter: blur(0.1rem);
    transition: filter 0.5s;
    transition: scale 0.5s;
}

.tileText {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-wrap: wrap;
    text-align: center;
    gap: 2px;
}

.tileTitle {
    font-weight: bold;
    display: block;
}

.tileBackside {
    display: none;
}

.tile:hover .tileBackside {
    display: block;
}

.tile:hover .tileTitle {
    display: none;
}

.tile:hover .tileBackground {
    filter: blur(0rem) brightness(0.7);
    scale: 1.05;
}