.tile {
    margin: 150px 25px;
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.tileBackground {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image: url("/card.png"); */
    filter: blur(0.1rem);
    transition: filter 0.5s;
    transition: scale 0.5s;
    /* scale: 1; */
}

.tileBackground:hover {
    filter: blur(0);
    scale: 1.1;
}

.tileText {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 150px;
    text-wrap: wrap;
    text-align: center;
    gap: 2px;
}

/* https://www.amitmerchant.com/simple-blinking-cursor-animation-using-css/ */
@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
}

.tileText::after {
    content: "";
    width: 3px;
    height: 16px;
    background: white;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}