.main {
  display: flex;
  flex-direction: column;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.followButton {
    margin: 2em 2em 0em 0em;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #3F6CDE;
    background: linear-gradient(90deg,rgb(63, 108, 222) 35%, rgb(48, 82, 168) 100%);
    filter: brightness(0.9);
    font-size: 1rem;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px 0 rgba(63,108,222, 0.15);
    transition: all 0.25s ease-in-out;
}

.followButton:hover {
    /* background: #3F6CDE; */
    /* background: linear-gradient(90deg,rgba(63, 108, 222, 1) 35%, rgba(12, 173, 232, 1) 100%); */
    box-shadow: 0 5px 15px 0 rgba(63,108,222, 0.5);
    filter: brightness(1.1);
    transition: all 0.25s ease-in-out;
}
  
.title {
    margin-bottom: 0.3em;
    font-size: 3rem;
}
  
.modelParent {
    max-width: 75vw;
    max-height: 75vw;
    width: 40rem;
    height: 40rem;
    cursor: grab;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
    line-height: 2;
}

.buttonContainer {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
}